Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Phidgets==2.1.8
SQLAlchemy==0.9.8
Werkzeug==0.11.5
XlsxWriter==0.6.7
argparse==1.2.1
docutils==0.12
enum34==1.0.4
gunicorn==19.4.5
itsdangerous==0.24
jdcal==1.2
openpyxl==2.1.4
simplejson==3.6.5
statistics==1.0.3.5
wsgiref==0.1.2
