{% extends "layout.html" %}
{% block outer_body %}
    <div class="dataTable">
    <ul class="pagination">
        {% if (page - 1) in pages %}
            <li><a href="?page={{ page - 1 }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><a>&laquo;</a></li>
        {% endif %}

        {%  for p in pages %}
            <li {% if page == p %}class="active"{% endif %}><a href="?page={{ p }}">{{ p }}</a></li>
        {% endfor %}

        {% if (page + 1) in pages %}
            <li><a href="?page={{ page + 1 }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><a>&raquo;</a></li>
        {% endif %}
    </ul>
    <table class="table table-striped fixed-header">
        <thead>
        <tr>
            {% for key in fields %}
                <th>{{ key }}
                    {% if key == 'distance' %}(km){% endif %}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr>
                {% for key in fields %}
                    {% if key == 'comments' %}
                        <td class="comment">
                            <input placeholder="..." type="text" id="comment_{{ row['id'] }}"
                                   onfocus="this.style.background=''" onchange="saveComment('{{ row['id'] }}',this)"
                                    {% if row[key] %}
                                   value="{{ row[key] }}" {% endif %}/>
                        </td>
                    {% else %}
                        <td style="white-space: nowrap">
                            {{ format_column(row[key]) }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% else %}
            <h1>No observations found</h1>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block extra_head %}
    <link rel="next" href="?page={{ page + 1 }}"/>
    <link rel="prev" href="?page={{ page - 1 }}"/>
{% endblock %}