{% extends "layout.html" %}

{% block extra_head %}
<script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            $('form').submit(function(event){
                ws.send($('#data').val())
                return false;
            });
            if ("WebSocket" in window) {
                ws = new WebSocket("ws://" + document.domain + ":5000/echo");
                ws.onmessage = function (msg) {
                    $("#log").append("<p>"+msg.data+"</p>")
                };
            } else {
                alert("WebSocket not supported");
            }
        });
</script>
{% endblock %}

{% block body %}
    <div>
        <ul>
            <li>
                <a href="{{ url_for('dump_table') }}?fields=id,system_time,button,height,gps_time,lat,lon,hdg,vel,roll,pitch,yaw,distance,comments">
                    View and comment observations
                </a>
            </li>
            <li><a href="{{ url_for('dump_table') }}">See data (all columns) in table</a></li>
            <li><a href="{{ url_for('dump_excel') }}">Export data to Excel</a></li>
            <li><a href="{{ url_for('dump_csv') }}">Export data to CSV</a></li>
            <li><a href="{{ url_for('gpx_track') }}">Get GPS track for all time</a></li>
{#            <li><a href="{{ url_for('static', filename='mmo/userguide.html')}}">User guide</a></li>#}
        </ul>
    </div>

    <h2>Device status</h2>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>GPS</th>
            <td>{{ status.get_gps_status() }}</td>
        </tr>
        <tr>
            <th>Spatial</th>
            <td>{{ status.get_spatial_status() }}</td>
        </tr>
        <tr>
            <th>System time (UTC)</th>
            <td>{{ status.get_system_time() }}</td>
        </tr>
        <tr>
            <th>Last GPS Fix</th>
            <td>{{ status.last_gps_fix }}</td>
        </tr>
        </tbody>
    </table>

    <h1>Send:</h1>
    <form method='POST' action='#'>
        <textarea name='data' id="data"></textarea>
        <div><input type='submit'></div>
    </form>
    <h1>Receive:</h1>
    <div id="log"></div>
{% endblock %}
