<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="{{url_for('static', filename='angular/angular.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='angular/angular-resource.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery/jquery-1.11.2.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='mmo/script.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='mmo/layout.css')}}">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MMO: {{ config['hostname'] }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="{{ url_for('dump_table') }}">Observations</a></li>
                <li><a href="{{ url_for('get_config') }}">Config</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

{% block outer_body %}
<div class="container main-div" role="main">
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}
    </div>
{% endblock %}
</div>


</body>
</html>