{% extends "layout.html" %}
{% block body %}
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Current system time</th>
            <td>{{ system_time }}</td>
        </tr>
        <tr>
            <th>Current GPS time</th>
            <td>{{ gps_time }}</td>
        </tr>
        <tr>
            <th>Current hardware clock time</th>
            <td>{{ hardware_clock_time }}</td>
        </tr>
    </table>
    <p>
       The hardware clock is used to keep time even when the power is off.
    </p>
    <form action="" method="post">
        <button type="submit">Set system time from GPS</button>
    </form>
{% endblock %}
